$font-size: 1rem;
$font-color: lch(53 105 40);

html {
  font-size: $font-size;
  color: $font-color;
  background-color: grey;
}
/* .triangle1 {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 150px solid green;
  border-left: 67px solid transparent;
} */
.menu {
  width: 150px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 50%;
  animation: 4s ease-in-out 0s infinite rotationLogo ;
  z-index: 3;
/*   transform: rotate3d(0,1,1,
360deg
 */

}
.div1 {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 150px solid green;
  border-left: 67px solid transparent;
  position: absolute;
  top: 0;
}

.div2 {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 129px solid white;
  border-left: 58px solid transparent;
  position: absolute;
  top: 15px;
  left: 6px;
}

.div3 {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 150px solid white;
  border-left: 67px solid transparent;
  transform: rotate3d(0, 0, 15, 180deg);
  position: absolute;
  top: 150px;
  left: 68px;
}

.div4 {
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 129px solid green;
  border-left: 58px solid transparent;
  transform: rotate3d(0, 0, 15, 180deg);
  position: absolute;
  top: 153px;
  left: 72px;
}

@keyframes rotationLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate3d(0,1,1,360deg) scale(1.5);
  }
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 500px;
  //background-attachment: fixed
}

.section { 
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.static {
  background: red;
}

.bg1::after {
  //background-image: url('https://placekitten.com/g/900/700');
  background-color: black;
}

.bg2::after {
  //background-image: url('https://placekitten.com/g/800/600');
  background-color: black;
}